<html>
<head>
    <title>document</title>
      <link rel="stylesheet" href="style.css">
    </head>
<body>
  <Header>
    <nav>
   <ul>
    <li><a href="/home">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/contact">contact</a></li>
    </ul>
    </nav>
</Header>
  <main>
    <div>
         welcome to main js from ejs

            <%  =data %>


        <% array.map((i)=>{%><p><%=i%></p><%})%>
    
    </div>
</main>
  <footer>footer section</footer>
</body>


</html>