.divclass
{
    color: rgb(198, 198, 15);
    background-color: rgb(206, 29, 29);
    border: 2px solid rgb(224, 43, 131);
}
#tag
{
    color: rgb(198, 198, 15);
    background-color: rgb(206, 29, 29);
    border: 2px solid rgb(224, 43, 131);    
}